# CONFIGURATION SETTINGS
TOKEN='DISCORD_BOT_TOKEN'
GUILD_ID=361895986198609920
OWNER_ID=360815761662541824

# GENERAL SETTINGS
EMBED_COLOUR='#FF0000'
PRESENCE='/help | elite-bot.com'

# MUSIC PLAYBACK BEHAVIOUR SETTINGS
LEAVE_ON_EMPTY=true
LEAVE_ON_EMPTY_COOLDOWN=300000

LEAVE_ON_END=true
LEAVE_ON_END_COOLDOWN=300000

LEAVE_ON_STOP=true
LEAVE_ON_STOP_COOLDOWN=300000

SELF_DEAFEN=true
DEFAULT_VOLUME=50
SMOOTH_VOLUME=true

### ADDITIONAL FEATURES SETTINGS

# DJ MODE SETTINGS
ENABLE_DJMODE=false
DJ_ROLE=123456789987654321

# PLEX MEDIA SERVER SETTINGS
ENABLE_PLEX=false
PLEX_SERVER='http://YOUR_IPADDRESS:32400'
PLEX_AUTHTOKEN='YOUR_AUTH_TOKEN'